<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%- include('navbar') %>
<h1>Equipos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>País</th>
        <th>Ciudad</th>
        <th>Imagen</th>
        <th>Liga</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% equipos.forEach(equipo => { %>
        <tr>
            <td><%= equipo.id %></td>
            <td><%= equipo.nombre %></td>
            <td><%= equipo.pais %></td>
            <td><%= equipo.ciudad %></td>
            <td><img src="<%= equipo.imagen %>" alt="<%= equipo.nombre %>"></td>
            <td><%= equipo.idEquipo %></td>
            <td>
                <a href="/equipos/<%= equipo.id %>/editar">Editar</a>
                <a href="/equipos/<%= equipo.id %>/eliminar">Eliminar</a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
<a href="/equipos/nuevo">Añadir Nuevo Equipo</a>
</body>
</html>
